<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <img src="/images/profile.jpg" alt="Sabhya Gupta" class="profile-pic">
      <h1>{{ site.title }}</h1>
      <p class="position">Economics PhD Student</p>
      <p class="position">Boston University</p>
      
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#research">Research</a></li>
          <li><a href="#teaching">Teaching</a></li>
        </ul>
      </nav>
      <p class="social-links">
      <a href="https://bsky.app/profile/sabhyagupta.bsky.social" target="_blank">Bluesky</a> |
      <a href="https://www.linkedin.com/in/sabhyagupta/" target="_blank">LinkedIn</a>
    </p>
    </aside>
    <main class="content">
      {{ content }}
    </main>
  </div>
</body>
</html>
